* {
    box-sizing: border-box;
}

div#display-container {
    border: 1px solid black;
    height: 50px;
    width: 250px;
}

div#calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    border: 1px solid yellow;
    width: 100%;
}

div#buttons-container {
    display: flex;
    flex-flow: row wrap;
    width: 250px;
    border: 1px solid green;
}

button {
    text-align: center;
}